{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body %}
	{{ block.super }}
	
	<h1>About <strong>syn</strong>apsie</h1>
	
	<ul class="polaroids">
		<li>
			<div class="polaroid">
				<img src="{{ MEDIA_URL }}media/img/layout/marketing/thumbs/chez_suit.png" alt="Chesley" />
				<div class="title">{% trans "The Author" %}</div>
			</div>
		</li>
	</ul>
	
	<div class="about">
		<h4>Why did I create Synapsie?</h4>
		<p>
			I've always wanted to record all those important events in my life. The first time I drove a car.
			Where I've traveled? When did I get my last raise? The list goes on.
		</p>
		<p>
			But lots of insignificant events happen in your life that you might want to track too. How about when you
			last changed your contacts? How many parties you've been to? The last movie you saw in theatres?
		</p>
		<p>
			Long story short, I created this website to record my life and I put it online so that you can do the same.
		</p>
		<p>
			<a href="http://www.facebook.com/chesleybrown"><strong>- Chesley Brown</strong></a>
		</p>
	</div>
	
{% endblock %}