{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Terms" %}{% endblock %}

{% block body %}
	{{ block.super }}
	
	<h1>Terms of Service for tag<strong>life</strong></h1>
	<h5>This Agreement was last revised on October 12, 2010.</h5>

<p>
Welcome to TagLife, a website and online service of TagLife, Ltd. ("TagLife," "we," or "us"). This page explains the terms by which you may use the TagLife web site, web widgets, feeds, mobile device software applications (the "TagLife Software"), application program interfaces, applications for third-party web sites and services, and any other web or mobile services or applications owned, controlled, or offered by TagLife in association with this site (collectively the "Service"). By accessing or using the Service, you signify that you have read, understood, and agree to be bound by this Terms of Use Agreement ("Agreement"), whether or not you are a registered user of our Service.
</p>

<p>
We reserve the right to amend this Agreement at any time by notifying you as provided in this Agreement, provided that no notice shall be required for non-substantive changes to the Agreement. If we substantively amend this Agreement, we will give you at least seven (7) days notice before the changes take effect, during which period of time you may reject the changes by terminating your account. Your continued use of the Service after any such change constitutes your acceptance of the new Terms of Use Agreement. If you do not agree to any of these terms or any future Terms of Use Agreement, do not use or access (or continue to access) the Service. This Agreement applies to all visitors, users, and others who access the Service ("Users").
</p>

<h4>1) Use of Our Service</h4>
<p>
TagLife provides a new way to track all the events in your life. You do not have to register in order to visit TagLife. To access certain features of the Service, though, such as creating records, you will need to register with TagLife and create a "Member" account. Your Member account gives you access to the services and functionality that we may establish and maintain from time to time and in our sole discretion.
</p>

<p>
This Service is intended solely for Users who are thirteen (13) years of age or older, and any registration, use or access to the Service by anyone under 13 is strictly prohibited and in violation of this Agreement. If you are under 18 years of age you may use the Service only if you either are an emancipated minor or have the consent of your parent or legal guardian, and are fully able and competent to enter into this Agreement and to abide by and comply with its terms.
</p>

<p>
You may never use another Member's account without permission. When creating your account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. You must notify TagLife immediately of any breach of security or unauthorized use of your account. Although TagLife will not be liable for your losses caused by any unauthorized use of your account, you shall be liable for the losses of TagLife or others due to such unauthorized use.
</p>

<p>
You may control your Member profile and how you interact with the Service by changing your settings on the Service. By providing TagLife your email address you consent to our using the email address to send you Service-related notices, including any notices required by law, in lieu of communication by postal mail. We may also use your email address or mobile phone telephone number to send you other messages, including changes to features of the Service and special offers. If you do not want to receive such messages, you may opt out or change your preferences by changing your settings. Opting out may prevent you from receiving messages regarding updates, improvements, or offers.
</p>

<p>
All aspects of the Service are subject to change or elimination at TagLife's sole discretion. TagLife reserves the right to interrupt the Service an/or to permanently or temporarily terminate, suspend, or otherwise refuse to permit your access to the Service with or without prior notice for any reason or no reason. You agree that TagLife will not be liable to you for any interruption of the Service or your account.
</p>

<p>
You are solely responsible for your interactions with other TagLife Users. We reserve the right, but have no obligation, to monitor disputes between you and other Users. TagLife shall have no liability for your interactions with other Users, or for any User's action or inaction.
</p>

<h4>2) User Content</h4>

{% endblock %}