/*
	Base CSS used in main layout
	@version 0.3
	@author Chesley Brown
	@product Synapsie
*/

/* Global */
html, body, #site_container {
	height: 100%;
}
body {
	background: #FFFCE9;
}
body > #site_container {
	height: auto;
	min-height: 100%;
}
#site_container {
	background: url(/site_media/media/img/layout/header/bg.png) repeat-x;
}
.hidden {
	display: none;
	zoom: 1;
}


/* Site Layout */
#site_header {
	height: 104px;
	position: relative;
}
#site_header #site_header_footer {
	position: absolute;
	bottom: 0;
	width: 960px;
	height: 12px;
	background-image: url(/site_media/media/img/layout/header/bottom_bg.png);
	z-index: 1;
}
#site_header #identity {
	margin-top: 12px;
	float: right;
	height: 26px;
}
#site_header #identity .user_username {
	color: #fff;
	text-shadow: #000 0 1px 0;
}
#site_header #identity ul.identity_menu {
	background: url(/site_media/media/img/backgrounds/1px/w20.png);
	list-style: none;
	overflow: auto;
	padding: 0 1px 1px 1px;
	margin: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #0071BC;
}
#site_header #identity ul.identity_menu li {
	float: left;
	padding: 0 1px 1px 1px;
	margin: 0;
}
#site_header #identity a {
	background: none;
	padding: 0 10px;
	display: block;
	font-weight: bold;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}
#site_header #identity a span {
	font-weight: normal;
}
#site_header #identity a:link {
	text-shadow: 0 1px 0 #666;
	color: #fff;
	text-decoration: none;
}
#site_header #identity a:visited {
	text-shadow: 0 1px 0 #666;
	color: #fff;
	text-decoration: none;
}
#site_header #identity a:hover {
	background: url(/site_media/media/img/backgrounds/1px/w20.png);
	color: #fff;
	text-decoration: none;
}
#site_header #identity a:active {
	margin-top: 1px;
	text-decoration: none;
}
#site_header #identity a:focus {
	outline: none;
}

#site_header #logo {
	float: left;
	margin-top: 10px;
}
#site_header #logo a.logo_link {
	display: block;
	width: 166px;
	height: 94px;
	background-image: url(/site_media/media/img/layout/header/logo.png);
}
#site_header #slogan {
	float: left;
	margin-top: 10px;
}
#site_header #slogan .slogan_link {
	display: block;
	width: 354px;
	height: 139px;
	background-image: url(/site_media/media/img/layout/header/slogan.png);
}

#site_header #login {
	margin-top: 56px;
	float: left;
}
#site_header #logout {
	margin-top: 89px;
}
#site_header #login div.field {
	float: left;
	margin-right: 10px;
	margin-top: 0;
}
#site_header #login div.label {
	float: left;
	margin-top: 15px;
	margin-bottom: 0;
	width: 142px;
}
#site_header #login div.field label,
#site_header #login div.field a {
	color: #fff;
	text-shadow: 1px 1px 0 #333;
	opacity: 0.70;
	font-size: 11px;
	line-height: 18px;
	display: block;
	margin-left: 2px;
	cursor: pointer;
}
#site_header #login div.field label:hover,
#site_header #login div.field a:hover {
	opacity: 0.9;
}
#site_header #login div.field input {
	font-size: 12px;
	width: 130px;
}
#site_header #login div.actions,
#site_header #logout div.actions {
	margin-top: 1px;
	float: left;
}
#site_header #logout div.actions {
	float: right;
}

#site_header #site_search {
	margin-top: 15px;
}
#site_header #site_search .field {
	margin: 0;
	position: relative;
}
#site_header #site_search div.field label {
	font-size: 18px;
	color: #999;
	position: absolute;
	top: 2px;
	left: 7px;
}
#site_header #site_search input {
	width: 210px;
}
form.record_form .field input:focus {
	border-color: #00527F;
}
div.default_form_container {
	background: url(/site_media/media/img/layout/body/box_bg.png) repeat-x #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 1px 2px 2px #ddd;
	-webkit-box-shadow: 1px 2px 2px #ddd;
	clear: both;
}
div.default_form_block {
	padding: 0 45px;
}

#site_header #site_search .icon_search {
	position: absolute;
	top: 9px;
	right: 7px;
	cursor: pointer;
}

#site_messages {
	display: none;
}

#site_content {
	background: url(/site_media/media/img/layout/body/bg.png) repeat-y;
	overflow: hidden; /* must have this or the blockUI can cause scrollbars */
	padding-bottom: 203px; /* must be same height as the footer... plus offset */
	padding-top: 10px;
	min-height: 375px;
}

#site_footer {
	position: relative;
	background: url(/site_media/media/img/layout/footer/bg.png) repeat-x;
	height: 167px;
	margin-top: -167px; /* negative value of footer height */
	clear: both;
	color: #333;
}
#site_footer .site_footer_top {
	position: absolute;
	top: -31px;
	background: url(/site_media/media/img/layout/footer/top_bg.png);
	height: 68px;
	width: 960px;
}
#site_footer_content {
	margin-top: -67px;
	height: 50px;
}
#site_footer_content ul.footer_items {
	top: 8px;
	position: absolute;
	list-style: none;
}
#site_footer_content ul.footer_items li {
	font-weight: bold;
	float: left;
}

/* Highlight */
.highlight {
	color: #fff;
	text-shadow: 0 1px 0 #000;
	font-weight: bold;
	padding: 2px 3px;
	border: 1px solid #00527F;
	background: #94B7DD;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	-webkit-animation: 'highlight' 1s; /* Animation duration in seconds */
}
@-webkit-keyframes highlight{
	0% { /* Define bar-one styles at 0% */
		color: #000;
		text-shadow: 0 1px 0 #fff;
		background: none;
		border: 1px solid transparent;
	}
	100% { /* Define bar-one styles at 100% */
		opacity: 1;
	}
}


/* Sidebar */
ul.sidebar {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}
ul.sidebar li.sidebar_item {
	margin: 0 0 30px 0;
	padding: 0;
	overflow: auto;
}


/* BlockUI */
.blockOverlay {
	background: transparent !important;
}
.blockMsg {
	background: url(/site_media/media/img/backgrounds/1px/w80.png) !important;
	width: 95% !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.blockMsg .popup {
	padding: 5px;
	position: relative;
}
.blockMsg .popup .popup_close {
	display: block;
	cursor: pointer;
	background: url(/site_media/media/img/layout/popup/close.png);
	width: 30px;
	height: 30px;
	position: absolute;
	top: -15px;
	right: -15px;
}
.blockMsg .popup .contents {
	cursor: default;
	padding: 1px 0;
}
.blockMsg .popup .contents input {
	float: left;
}
.blockMsg .popup h5 {
	text-shadow: 1px 1px #fff;
	margin: 0;
}
.blockMsg .popup .actions {
	float: right;
}


/* Form List */
.form_items_container {
	margin: 0 0 20px 0;
}
ul.form_items {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
ul.form_items > li {
	margin: 0 0 20px 0;
	padding: 0;
	border-bottom: 1px solid #00527F;
	position: relative;
}
ul.form_items > li .label {
	margin: 8px 0 0 0;
	text-shadow: 1px 1px #fff;
	min-height: 17px;
	font-weight: bold;
	width: 100%;
	background: #E6E6E6;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	position: absolute;
}
ul.form_items > li .label label,
ul.form_items > li .label div,
ul.form_items > li .label a {
	padding: 10px 0;
	color: #333;
	font-size: 12px;
	display: block;
	margin-left: 10px;
	line-height: 17px;
	text-decoration: none;
}
ul.form_items > li .label a:hover {
	color: #666;
}
ul.form_items > li .label span.sub {
	color: #999;
}
ul.form_items > li .content {
	margin-right: 10px;
	padding: 10px 15px;
	color: #fff;
	text-shadow: 1px 1px #000;
	font-size: 24px;
	line-height: 24px;
	float: right;
	background: url(/site_media/media/img/layout/form/bg.png);
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	position: relative;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #00527F;
}
ul.form_items > li.has_menu .container > .header > .content,
ul.form_items > li.has_menu .container > .header a {
	margin-right: 50px;
}
ul.form_items > li > .container > .header {
	overflow: auto;
}
ul.form_items .menu {
	top: 18px;
	right: 9px;
}


/* Forms */
textarea,
input[type='text'],
input[type='password'] {
	border: 1px solid #666;
	font-size: 18px;
	height: 20px;
	padding: 5px 5px;
	display: block; /* this is required for animated textarea resizing */
}
textarea:focus,
input[type='text']:focus,
input[type='password']:focus {
	border-color: #000;
}
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
	border: 0;
}
input[type='button']:focus,
input[type='submit']:focus {
	outline: none;
}
form input.default {
	color: #999;
}


/* TextboxList sample CSS */
ul.holder {
	cursor: text;
	background: #fff;
	margin: 0 13px;
	overflow: hidden;
	min-height: 30px;
	height: auto !important;
	height: 1%;
	padding: 0 5px;
	border: 1px solid #666;
}
ul.holder.focus {
	border-color: #00527F;
}
*:first-child+html ul.holder { padding-bottom: 2px; } * html ul.holder { padding-bottom: 2px; } /* ie7 and below */
ul.holder li {
	float: left;
	list-style-type: none;
	margin: 0 5px 0 0;
}
ul.holder li.bit-box {
	font-size: 11px;
	color: #fff;
	padding: 0 0 0 5px;
	margin: 6px 5px 5px;
	position: relative;
	background: #333;
	border: 1px solid #000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
ul.holder li.bit-box:hover,
ul.tags li.tag:hover,
.selected {
	background: #000;
}
ul.holder li.bit-box-focus {
	border-color: #598BEC;
	background: #598BEC;
	color: #fff;
}
ul.holder li.bit-input input {
	width: auto;
	overflow: visible;
	margin: 0;
	border: 0px;
	outline: 0;
	padding: 5px 0px 2px;
} /* no left/right padding here please */
ul.holder li.bit-input input.smallinput {
	width: 20px;
}

/* Facebook demo CSS */      
#add { border: 1px solid #999; width: 550px; margin: 50px; padding: 20px 30px 10px; }
form ol li {
	list-style-type: none;
}
form ol {
	margin: 0;
	padding: 0;
}
form ol li.input-text { margin-bottom: 10px; list-style-type: none; padding-bottom: 10px; }
form ol li.input-text label { font-weight: bold; cursor: pointer; display: block; font-size: 13px; margin-bottom: 10px; }
form ol li.input-text input {
	width: 660px;
	padding: 5px 5px 6px;
	border: 1px solid #999;
}
form ul.holder {
	width: 660px;
}
form ul {
	margin: 0;
}
ul.holder li.bit-box,
#apple-list ul.holder li.bit-box {
	position: relative;
	z-index: 1000;
}
ul.holder li.bit-input input.maininput {
	width: auto;
	margin: 0;
}
#apple-list ul.holder li.bit-input input.smallinput {
	width: 5px;
}
ul.holder li.bit-hover {
	background: #BBCEF1;
	border: 1px solid #6D95E0;
}
ul.holder li.bit-box-focus {
	border-color: #598BEC;
	background: #598BEC;
	color: #fff;
}
ul.holder li.bit-box a.closebutton,
ul.tags li.tag a.closebutton {
	float: right;
	margin: 1px 0 0 -4px;
	outline: none;
	width: 16px;
	height: 16px;
	background: url('/site_media/media/img/icons/fugue/cross-small-hover.png') no-repeat 0 0;
}
ul.holder li.bit-box a.closebutton:hover,
ul.tags li.tag a.closebutton:hover {
	background-position: 0 -16px;
}
ul.holder li.bit-box-focus a.closebutton,
ul.holder li.bit-box-focus a.closebutton:hover {
	background-position: bottom;
}

/* Autocompleter */

.facebook-auto {
	text-align: left;
	display: none;
	position: absolute;
	width: 670px;
	background: url(/site_media/media/img/backgrounds/1px/w90.png);
	left: 14px;
}
.facebook-auto .default {
	padding: 2px 7px;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;
	font-size: 11px;
}
.facebook-auto ul { display: none; margin: 0; padding: 0; overflow: auto; position:absolute; z-index:9999}
.facebook-auto ul li {
	padding: 5px 12px;
	z-index: 1000;
	cursor: pointer;
	margin: 0;
	list-style-type: none;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;
	background: url(/site_media/media/img/backgrounds/1px/w90.png);
}
.facebook-auto ul li em {
	font-weight: bold;
	font-style: normal;
	background: #ccc;
}
.facebook-auto ul li.auto-focus {
	background: #4173CC;
	color: #fff;
}
.facebook-auto ul li.auto-focus em {
	background: none;
}
.deleted {
	background-color: #666 !important;
	border-color: #333 !important;
	color: #fff !important;
}

/* Messages */
.important_message {
	text-align: center;
}

/* Facebook */
.facebook_login {
	position: relative;
	opacity: 0;
	margin: 20px 0 0px 31px;
	height: 30px;
}
