/*------------------------------------*\
  CHART
\*------------------------------------*/
ul.tags_chart {
	list-style: none;
	width: auto;
	padding-bottom: 25px;
	margin: 0;
	overflow: auto;
}
ul.tags_chart > li {
	float: left;
	margin: 0;
}
ul.tags_chart > li .label {
	width: 110px;
	float: left;
	margin: 0;
	padding: 2px 0;
	display: block;
	margin: 0;
}
ul.tags_chart > li .label ul.tags {
	float: right;
}
ul.tags_chart > li .content {
	width: 86px;
	float: left;
	margin: 0;
	display: inline;
}
ul.tags_chart > li .content span {
	color: #fff;
	background: #0071bc;
	text-align: center;
	padding: 2px 5px;
	margin: 5px 0;
	display: block;
	
	text-shadow: #000 0 1px 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(#0071bc), to(#0063a6));
	-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.25)));
}
ul.tags_chart > li .content span {
	-webkit-animation-name:bar-one; /* Give the bar an animation with a unique name */
}
ul.tags_chart > li .content span { /* Define animation styles for all three bars at once */
	-webkit-animation-duration: 1s; /* Animation duration in seconds */
	-webkit-animation-iteration-count: 1; /* Amount of times to loop */
	-webkit-animation-timing-function: ease-out; /* Ease in, out etc. */
}
@-webkit-keyframes bar-one{
	0%{ /* Define bar-one styles at 0% (0 seconds) */
		width: 0%;
		opacity: 0;
	}
	100%{ /* Define bar-one styles at 100% (0.5 seconds) */
		opacity: 1;
	}
}