/* Dropdown Menu */
.menu {
	opacity: 0.5;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 100;
}
.menu.hover {
	opacity: 1;
}
.menu ul.menu_headers {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 16px;
}
.menu ul.menu_headers li.menu_header {
	margin: 0;
	padding: 0;
	float: right;
	width: 32px;
	height: 16px;
	background: url(/site_media/media/img/layout/records/dropdown_button.png) no-repeat;
	cursor: pointer;
	position: absolute;
	top: 1px;
	right: 0;
}
.menu ul.menu_headers li.menu_header:hover {
	background-position: 0 -16px
}
.menu ul.menu_items {
	display: none;
	list-style: none;
	margin: 0;
	padding: 3px 0;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #999;
	overflow: hidden;
	clear: both;
	float: left;
	background: #fff;
	-moz-box-shadow: 0 5px 5px #aaa;
	-webkit-box-shadow: 0 5px 5px #aaa;
}
.menu ul.menu_items li.menu_item {
	font-size: 12px;
	margin: 0;
	padding: 0;
}
.menu ul.menu_items li.menu_item .icon {
	float: left;
	margin: 3px 10px 0 0;
}
.menu ul.menu_items li.menu_item a {
	color: #666;
	text-decoration: none;
	font-weight: bold;
	padding: 7px 15px;
	display: block;
	text-shadow: 1px 1px #fff;
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
}
.menu ul.menu_items li.menu_item a:hover {
	color: #fff;
	text-shadow: 1px 1px #000;
	text-decoration: none;
	background-color: #333;
	border-color: #000;
}
.menu ul.menu_headers li.menu_header.active,
.menu ul.menu_headers li.menu_header.active:hover { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background-position: 0 -32px !important;
}
.menu.active ul.menu_headers {
	border-bottom: 1px solid #999;
}

.menu.active {
	z-index: 2000;
}