/*
 * Icons
 */
.icon {
	background: no-repeat left center;
	display: block;
	width: auto;
	min-width: 16px;
	height: 16px;
	line-height: 16px;
	white-space: nowrap;
	text-indent: 20px;
}
input.icon {
	text-align: left;
	width: auto;
	overflow: visible;
	height: auto;
	border: none;
	cursor: pointer;
	color: #333;
	font-weight: bold;
}

.icon_personal {
	background-image: url(/site_media/media/img/icons/fugue/lock.png);
}
.icon_shared {
	background-image: url(/site_media/media/img/icons/fugue/hand-share.png);
}

.icon_login {
	background-image: url(/site_media/media/img/icons/fugue/key.png);
}
.icon_register {
	background-image: url(/site_media/media/img/icons/fugue/pencil.png);
}

.icon_record_post {
	background-image: url(/site_media/media/img/icons/fugue/pin.png);
}
.icon_record_view {
	background-image: url(/site_media/media/img/icons/fugue/eye.png);
}
.icon_record_edit {
	background-image: url(/site_media/media/img/icons/fugue/pencil.png);
}
.icon_record_delete {
	background-image: url(/site_media/media/img/icons/fugue/cross-button.png);
}
.icon_record_more {
	background-image: url(/site_media/media/img/icons/fugue/_overlay/pin--plus.png);
}

.icon_tag_add {
	background-image: url(/site_media/media/img/icons/fugue/plus-small.png);
}