/*
 * Icons
 */
.icon {
	background: no-repeat left center;
	display: block;
	width: auto;
	min-width: 16px;
	height: 16px;
	line-height: 16px;
	white-space: nowrap;
	text-indent: 20px;
}
input.icon {
	text-align: left;
	width: auto;
	overflow: visible;
	height: auto;
	border: none;
	cursor: pointer;
	color: #333;
	font-weight: bold;
}

/* Global */
.icon_search {
	background-image: url(/site_media/media/img/icons/fugue/magnifier.png);
}
.icon_delete {
	background-image: url(/site_media/media/img/icons/fugue/eraser.png);
}
.icon_cancel {
	background-image: url(/site_media/media/img/icons/fugue/cross-button.png);
}

/* Profile */
.icon_username {
	background-image: url(/site_media/media/img/icons/fugue/user.png);
}
.icon_email {
	background-image: url(/site_media/media/img/icons/fugue/mail.png);
}
.icon_password {
	background-image: url(/site_media/media/img/icons/fugue/key.png);
}
.icon_date_joined {
	background-image: url(/site_media/media/img/icons/fugue/calendar-day.png);
}

/* Security */
.icon_personal {
	background-image: url(/site_media/media/img/icons/fugue/lock.png);
}
.icon_shared {
	background-image: url(/site_media/media/img/icons/fugue/hand-share.png);
}

/* Login/Register */
.icon_login {
	background-image: url(/site_media/media/img/icons/fugue/key.png);
}
.icon_register {
	background-image: url(/site_media/media/img/icons/fugue/pencil.png);
}

/* Records */
.icon_record_post {
	background-image: url(/site_media/media/img/icons/fugue/pin.png);
}
.icon_record_view {
	background-image: url(/site_media/media/img/icons/fugue/eye.png);
}
.icon_record_edit {
	background-image: url(/site_media/media/img/icons/fugue/pencil.png);
}
.icon_record_delete {
	background-image: url(/site_media/media/img/icons/fugue/eraser.png);
}
.icon_record_more {
	background-image: url(/site_media/media/img/icons/fugue/pins.png);
}
.icon_record_date {
	background-image: url(/site_media/media/img/icons/fugue/calendar-month.png);
}
.icon_record_time {
	background-image: url(/site_media/media/img/icons/fugue/clock.png);
}
.icon_record_datetime_reset {
	background-image: url(/site_media/media/img/icons/fugue/calendar-previous.png);
}

/* Tags */
.icon_tag {
	background-image: url(/site_media/media/img/icons/fugue/tag.png);
}
.icon_tags {
	background-image: url(/site_media/media/img/icons/fugue/tags.png);
}
.icon_tag_add {
	background-image: url(/site_media/media/img/icons/fugue/_overlay/tag--plus.png);
}