/*
	Marketing CSS used in marketing layout
	@version 0.1
	@author Chesley Brown
	@product TagLife
*/
#site_container {
	background: url(/site_media/media/img/layout/marketing/header/bg.png) repeat-x;
}
#site_header {
	height: 161px;
}
#site_header #logo a.logo_link {
	display: block;
	width: 186px;
	height: 139px;
	background-image: url(/site_media/media/img/layout/marketing/header/logo.png);
}
#site_header #slogan {
	float: left;
	margin-top: 10px;
}
#site_header #slogan .slogan_link {
	display: block;
	width: 354px;
	height: 139px;
	background-image: url(/site_media/media/img/layout/marketing/header/slogan.png);
}

#signup_container {
	background: url(/site_media/media/img/layout/marketing/signup_bg.png) repeat-x #fff;
	border: 1px solid #ccc;
	padding: 0 45px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
form.register_form fieldset {
	margin-bottom: 0;
}
form.register_form .field label {
	font-size: 18px;
	color: #999;
	position: absolute;
	top: 2px;
	left: 7px;
}
form.register_form .field {
	overflow: auto;
	clear: both;
}
form.register_form .field input {
	width: 276px;
}
form.register_form .field_combo {
	float: left;
	position: relative;
	overflow: hidden;
}
form.register_form .field_combo input {
	width: 127px;
	margin-right: 10px;
}
form.register_form .field_combo.omega input {
	margin-right: 0;
}
form.register_form .actions {
	overflow: auto;
}
form.register_form .actions .action_right {
	padding: 0 6px 5px 0;
	float: right;
}

form.register_form .errorlist {
	clear: both;
	list-style: none;
	margin: 0;
	padding: 5px 0 0 0;
	overflow: auto;
}
form.register_form .errorlist li {
	margin: 0 0 0 0;
	padding: 0 5px;
	background: #FF8D8D;
	border: 1px solid #BC4242;
	color: #fff;
	text-shadow: 1px 1px 0 #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	overflow: hidden;
}