.suggestion_container {
	background: url(/site_media/media/img/backgrounds/1px/b80.png);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.suggestion_container p {
	color: #fff;
	text-shadow: 1px 1px 0 #000;
}