/* SITE-SPECIFIC TAB STYLING */

body.home #tab_home a,
body.register #tab_register a,
body.login #tab_login a,
body.profile #tab_profile a,
body.notices #tab_notices a,
body.records #tab_records a,
body.tags #tab_tags a {
	color: #000; /* selected tab text colour */
	text-shadow: #fff 0 1px 0;
}

body.home #tab_home,
body.register #tab_register,
body.login #tab_login,
body.profile #tab_profile,
body.notices #tab_notices,
body.records #tab_records,
body.tags #tab_tags {
	margin: 0; /* to compensate for border */
	padding: 5px 0 5px;
	background: url(/site_media/media/img/backgrounds/1px/w40.png); /* selected tab colour */
	border-left: 1px solid #00527F; /* tab border */
	border-top: 1px solid #00527F; /* tab border */
	border-right: 1px solid #00527F; /* tab border */
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
}

/* GENERAL TAB STYLING */
 
#left_tabs {
	position: absolute;
	bottom: -1px; /* must be same thickness as tab border */
	left: 210px; /* based on width and padding of logo */
}
#right_tabs {
	position: absolute;
	bottom: -1px; /* must be same thickness as tab border */
}
 
ul.tabs a, ul.tabs a:visited {
	text-shadow: #000 0 1px 0;
	color: #fff; /* unselected tab text colour */
	font-weight: bold;
	text-decoration: none;
}
ul.tabs a:hover {
	color: #eee; /* unselected tab text hover colour */
}
ul.tabs li {
	list-style-type: none;
	display: inline;
	background-color: none; /* unselected tab colour */
	padding: 5px 0 4px;
	margin: 0 1px; /* to compensate for border */
}
ul.tabs li a {
	padding: 5px 12px;
}
ul.tabs {
	margin: 0 0 5px;
}


/* Sidebar Tabs */

ul.sidebar_tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.sidebar_tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #E6E6E6;
}
ul.sidebar_tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.sidebar_tabs li a:hover {
	background: #ccc;
}
html ul.sidebar_tabs li.active, html ul.sidebar_tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.sidebar_tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.sidebar_tab_content {
	padding: 10px 5px 5px 5px;
	font-size: 1.2em;
}