# Python Compiled
*.pyc

# Minified stuff
media/css/min/*
media/js/min/*

# Logs
logs/**/*
logs/error.log

# Editor Project File
*.komodoproject
*.sublime-project
*.sublime-workspace

# Mac systemfile
*.DS_Store

# VM files
.vagrant