{% extends "accounts/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}
{% block body_class %}profile{% endblock %}

{% block body %}
	<div class="site_content_tabs use_tabs">
		<ul class="tabs">
			<li class="active"><a href="#profile">{% trans "Profile" %}</a></li>
		</ul>
		
		<div class="tab_container">
			<div id="profile" class="tab_content">
				<div class="form_items_container">
					<ul class="form_items">
						<li>
							<div class="container">
								<div class="header">
									<div class="label">
										<label class="icon icon_name" for="id_name">{% trans "Name" %}</label>
									</div>
									<div id="id_name" class="content">
										{{ viewed_user.get_full_name }}
									</div>
								</div>
							</div>
						</li>
						{% if has_real_userame %}
							<li>
								<div class="container">
									<div class="header">
										<div class="label">
											<label class="icon icon_username" for="id_username">{% trans "Username" %}</label>
										</div>
										<div id="id_username" class="content">
											{{ viewed_user.username }}
										</div>
									</div>
								</div>
							</li>
						{% endif %}
						<li>
							<div class="container">
								<div class="header">
									<div class="label">
										<label class="icon icon_email" for="id_email">{% trans "Email" %}</label>
									</div>
									<div id="id_email" class="content">
										{{ viewed_user.email }}
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="container">
								<div class="header">
									<div class="label">
										<label class="icon icon_password" for="id_password">{% trans "Password" %}</label>
									</div>
									<div id="id_password" class="content">
										&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="container">
								<div class="header">
									<div class="label">
										<label class="icon icon_date_joined" for="id_date_joined">{% trans "Joined" %}</label>
									</div>
									<div id="id_date_joined" class="content">
										{{ viewed_user.date_joined|date:"F d, Y" }} at {{ viewed_user.date_joined|date:"g:iA" }}
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="container">
								<div class="header">
									<div class="label">
										<label class="icon icon_quality_of_life" for="id_date_joined">{% trans "Quality of Life" %}</label>
									</div>
									<div id="id_date_joined" class="content">
										{% if quality_of_life %}
											{{ quality_of_life|floatformat:1 }}%
										{% else %}
											{% trans "N/A" %}
										{% endif %}
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="clear"></div>
	
	<div class="grid_4 suffix_1 alpha">
		<div class="site_content_tabs use_tabs">
			<ul class="tabs">
				<li class="active"><a href="#record_stats">{% trans "Record Stats" %}</a></li>
			</ul>
			
			<div class="tab_container">
				<div id="record_stats" class="tab_content">
					<div class="form_items_container">
						<ul class="form_items">
							<li>
								<div class="container">
									<div class="header">
										<div class="label">
											<label for="id_record_total">{% trans "Total" %}</label>
										</div>
										<div id="id_record_total" class="content">
											{{ record_stats.total }}
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="container">
									<div class="header">
										<div class="label">
											<label for="id_record_personal">{% trans "Personal" %}</label>
										</div>
										<div id="id_record_personal" class="content">
											{{ record_stats.personal }}
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="container">
									<div class="header">
										<div class="label">
											<label for="id_record_shared">{% trans "Shared" %}</label>
										</div>
										<div id="id_record_shared" class="content">
											{{ record_stats.shared }}
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="grid_4 omega">
		<div class="site_content_tabs use_tabs">
			<ul class="tabs">
				<li class="active"><a href="#tag_stats">{% trans "Tag Stats" %}</a></li>
			</ul>
			
			<div class="tab_container">
				<div id="tag_stats" class="tab_content">
					<div class="form_items_container">
						<ul class="form_items">
							<li>
								<div class="container">
									<div class="header">
										<div class="label">
											<label for="id_tag_total">{% trans "Total" %}</label>
										</div>
										<div id="id_tag_total" class="content">
											{{ tag_stats.total }}
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="container">
									<div class="header">
										<div class="label">
											<label for="id_tag_unique">{% trans "Unique" %}</label>
										</div>
										<div id="id_tag_unique" class="content">
											{{ tag_stats.unique }}
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="container">
									<div class="header">
										<div class="label">
											<label for="id_tag_average_per_record">{% trans "Average Per Record" %}</label>
										</div>
										<div id="id_tag_average_per_record" class="content">
											{{ tag_stats.average_per_record }}
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="clear"></div>
	<!--
	<div class="grid_5 alpha">
		<div class="site_content_tabs use_tabs">
			<ul class="tabs">
				<li class="active"><a href="#user_stats_01">{% trans "My Stats" %}</a></li>
			</ul>
			
			<div class="tab_container">
				<div id="user_stats_01" class="tab_content">
					<div id="chartcontainer"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="grid_4 omega">
		<div class="site_content_tabs use_tabs">
			<ul class="tabs">
				<li class="active"><a href="#user_stats_02">{% trans "More Stats" %}</a></li>
			</ul>
			
			<div class="tab_container">
				<div id="user_stats_02" class="tab_content">
					<div class="form_items_container">
						<div id="chartcontainer2">This is just a replacement in case Javascript is not available or used for SEO purposes</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
	
{% endblock %}