{% extends "accounts/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}
{% block body_class %}profile{% endblock %}

{% block body %}
	<div class="site_content_tabs use_tabs">
		<ul class="tabs">
			<li class="active"><a href="#profile">{% trans "Profile" %}</a></li>
			<li class=""><a href="#stats">{% trans "Stats" %}</a></li>
			<li class=""><a href="#achievements">{% trans "Achievements" %}</a></li>
		</ul>
		
		<div class="tab_container">
			<div id="profile" class="tab_content">
				<div class="form_items_container">
					<ul class="form_items">
						<li>
							<div class="container">
								<div class="header">
									<div class="label">
										<label class="icon icon_name" for="id_name">{% trans "Name" %}</label>
									</div>
									<div id="id_name" class="content">
										{{ viewed_user.get_full_name }}
									</div>
								</div>
							</div>
						</li>
						{% if has_real_userame %}
							<li>
								<div class="container">
									<div class="header">
										<div class="label">
											<label class="icon icon_username" for="id_username">{% trans "Username" %}</label>
										</div>
										<div id="id_username" class="content">
											{{ viewed_user.username }}
										</div>
									</div>
								</div>
							</li>
						{% endif %}
						<li>
							<div class="container">
								<div class="header">
									<div class="label">
										<label class="icon icon_email" for="id_email">{% trans "Email" %}</label>
									</div>
									<div id="id_email" class="content">
										{{ viewed_user.email }}
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="container">
								<div class="header">
									<div class="label">
										<label class="icon icon_password" for="id_password">{% trans "Password" %}</label>
									</div>
									<div id="id_password" class="content">
										&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="container">
								<div class="header">
									<div class="label">
										<label class="icon icon_date_joined" for="id_date_joined">{% trans "Joined" %}</label>
									</div>
									<div id="id_date_joined" class="content">
										{{ viewed_user.date_joined|date:"F d, Y" }} at {{ viewed_user.date_joined|date:"g:iA" }}
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="container">
								<div class="header">
									<div class="label">
										<label class="icon icon_quality_of_life" for="id_quality_of_life">{% trans "Quality of Life" %}</label>
									</div>
									<div id="id_quality_of_life" class="content">
										{% if viewed_user_registration_profile.quality_of_life %}
											{{ viewed_user_registration_profile.quality_of_life|floatformat:1 }}%
										{% else %}
											{% trans "N/A" %}
										{% endif %}
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			<div id="stats" class="tab_content hidden">
				<div class="tab_menu">
					<div class="menu_large use_tab_menu use_stats_menu">
						<ul class="menu_headers">
							<li class="menu_header">
								<div class="menu_header_icon icon icon_stats"></div>
								<div class="menu_header_text">{% trans "Other Stats" %}</div>
								<div class="side"></div>
							</li>
						</ul>
						<ul class="menu_items">
							<li class="menu_item">
								<span class="menu_item_icon icon icon_quality_of_life"></span>
								<span class="menu_item_text">{% trans "Quality of Life" %}</span>
								<span class="menu_item_desc">{% trans "by Weekday" %}</span>
								<span class="menu_item_value">weekly</span>
							</li>
							<li class="menu_item">
								<span class="menu_item_icon icon"></span>
								<span class="menu_item_desc">{% trans "by Month" %}</span>
								<span class="menu_item_value">monthly</span>
							</li>
							<li class="menu_item">
								<span class="menu_item_icon icon"></span>
								<span class="menu_item_desc">{% trans "by Year" %}</span>
								<span class="menu_item_value">yearly</span>
							</li>
							<li class="menu_item">
								<span class="menu_item_icon icon icon_records"></span>
								<span class="menu_item_text">{% trans "Records" %}</span>
								<span class="menu_item_desc">{% trans "General stats about your records." %}</span>
								<span class="menu_item_value">record_counts</span>
							</li>
							<li class="menu_item">
								<span class="menu_item_icon icon icon_tags"></span>
								<span class="menu_item_text">{% trans "Tags" %}</span>
								<span class="menu_item_desc">{% trans "General stats about your tags." %}</span>
								<span class="menu_item_value">tag_counts</span>
							</li>
							<li class="menu_item">
								<span class="menu_item_icon icon"></span>
								<span class="menu_item_desc">{% trans "Top Used" %}</span>
								<span class="menu_item_value">top_tags</span>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="form_items_container">
					<div id="stats_container">
						
						<div class="loading"></div>
						
					</div>
				</div>
			</div>
			
			<div id="achievements" class="tab_content hidden">
				<div class="important_message">
					<h3>Achievements are Coming Soon</h3>
					<h4>We're currently developing this truely awesome feature, so stay tuned!</h4>
				</div>
			</div>
		</div>
	</div>
	
	<div class="clear"></div>
	
	
{% endblock %}