{% extends "site_base.html" %}

{% block body_class %}records{% endblock %}

{% block sidebar %}
	<ul id="site_sidebar">
		<li class="sidebar_item">
			<h3>Used Tags</h3>
			<ul class="tags">
				{% for tag in used_tags %}
					<li class="tag"><a href="{% url record_index tags=tag.name %}">{{ tag.name }}</a> <a href="{% url record_index %}" class="closebutton"></a></li>
				{% endfor %}
			</ul>
		</li>
		<li class="sidebar_item">
			<h3>Popular Tags</h3>
			<dl class="tags_chart">
				{% for tag in popular_tags %}
					<dt><ul class="tags"><li class="tag"><a href="{% url record_index tags=tag.name %}">{{ tag.name }}</a> <a href="{% url record_index %}" class="closebutton"></a></li></ul></dt>
					<dd><span style="width: {{ tag.percent }}%;">{{ tag.count }}</dd>
				{% endfor %}
			</dl>
		</li>
	</ul>
{% endblock sidebar %}