{% extends "records/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Records" %}{% endblock %}

{% block body %}
	
	<div class="clear"></div>
	
	<form id="record_create_form" class="record_form" action="{% url api-record emitter_format=".json" %}" method="post" enctype="multipart/form-data" autocomplete="off">
		{% csrf_token %}
		<fieldset>
			<div id="id_text_field" class="field">
				{{ formset.text.label_tag }}
				{{ formset.text }}
			</div>
			<div id="id_tags_field" class="field">
				{{ formset.tags.label_tag }}
				<input id="id_tags_temp" name="tags" type="text" value="" />
				<select id="id_tags" name="tags[]" multiple="multiple" class="hidden">
					{% for tag in used_tags %}
						<option value="{{ tag.name }}">{{ tag.name }}</option>
					{% endfor %}
				</select>
			</div>
		</fieldset>
		
		<div class="actions">
			<div class="actions_left">
				<div class="icon icon_personal use_personal_flag record_security">Personal</div>
				{{ formset.personal }}
			</div>
			<div class="actions_right">
				<div class="input_button_wrapper">
					<div class="input_button_start"></div>
					<div class="input_button_body">
						<div class="icon icon_post"></div>
						<input type="submit" id="new_record" name="submit" value="{% if object %}Apply changes{% else %}Post{% endif %}" class="input_submit" />
					</div>
					<div class="input_button_end"></div>
				</div>
			</div>
		</div>
	</form>
	
	<div class="hidden">
		<div id="records_blank">
			<ul class="records">
				<li class="record hidden">
					<div class="date">
						<span class="month"></span>
						<span class="day"></span>
						<span class="year"></span>
					</div>
					<div class="security">
						<div class="icon icon_personal"></div>
					</div>
					<div class="header">
						<div class="time">
							<span></span>
						</div>
						<div class="text"></div>
					</div>
					<div class="menu">
						<ul class="menu_headers">
							<li class="menu_header"></li>
						</ul>
						<ul class="menu_items">
							<li class="menu_item">
								<a href="{% url record_show record_id=0 %}"><span class="icon icon_record_view"></span>View</a>
							</li>
							<li class="menu_item">
								<a href="{% url record_edit record_id=0 %}"><span class="icon icon_record_edit"></span>Edit</a>
							</li>
							<li class="menu_item">
								<a class="use_record_delete" href="{% url api-record record_id=0,emitter_format=".json" %}"><span class="icon icon_record_delete"></span>Delete</a>
							</li>
						</ul>
					</div>
					<div class="add_tag">
						<div class="icon icon_tag_add use_add_tag"></div>
					</div>
					<div class="footer"></div>
				</li>
			</ul>
		</div>
		
		<div id="tags_blank">
			<ul class="tags">
				<li class="tag"><a class="tag_text" href="{% url record_index %}"></a> <a href="{% url api-tag tag_name=0,record_id=0,emitter_format=".json" %}" class="closebutton use_tag_delete"></a></li>
			</ul>
		</div>
	</div>
	
	<ul id="user_record_list" class="records">
		{% for record in object_list %}
			<li id="record_{{ record.id }}" class="record">
				<div class="date">
					<span class="month">{{ record.created|date:"M" }}</span>
					<span class="day">{{ record.created|date:"d" }}</span>
					<span class="year">{{ record.created|date:"Y" }}</span>
				</div>
				<div class="security">
					{% if record.personal %}
						<div class="icon icon_personal"></div>
					{% else %}
						<div class="icon icon_shared"></div>
					{% endif %}
				</div>
				<div class="header">
					<div class="time">
						<span>{{ record.created|date:"g:iA" }}</span>
					</div>
					<div class="text">{{ record.text|linebreaks }}</div>
				</div>
				<div class="menu">
					<ul class="menu_headers">
						<li class="menu_header"></li>
					</ul>
					<ul class="menu_items">
						<li class="menu_item">
							<a href="{% url record_show record_id=record.id %}"><span class="icon icon_record_view"></span>View</a>
						</li>
						<li class="menu_item">
							<a href="{% url record_edit record_id=record.id %}"><span class="icon icon_record_edit"></span>Edit</a>
						</li>
						<li class="menu_item">
							<a class="use_record_delete" href="{% url api-record record_id=record.id,emitter_format=".json" %}"><span class="icon icon_record_delete"></span>Delete</a>
						</li>
					</ul>
				</div>
				<div class="add_tag">
					<div class="icon icon_tag_add use_add_tag"></div>
				</div>
				<div class="footer">
					<ul class="tags">
						{% for tag in record.tags %}
							<li class="tag"><a class="tag_text" href="{% url record_index tags=tag.name %}">{{ tag.name }}</a> <a href="{% url api-tag tag_name=tag.name,record_id=record.id,emitter_format=".json" %}" class="closebutton use_tag_delete"></a></li>
						{% endfor %}
					</ul>
				</div>
			</li>
		{% endfor %}
	</ul>
	
	<div>
		{% if has_previous %}
		<a href="{% url record_list %}?page={{ previous }}">&lt;-previous</a>
		{% endif %}
		{% if has_next %}
		<a href="{% url record_list %}?page={{ next }}">next-&gt;</a>
		{% endif %}
	</div>
{% endblock %}