{% extends "records/base.html" %}

{% load i18n %}
{% load tag %}
{% load record %}

{% block body_class %}search{% endblock %}

{% block head_title %}{% trans "Records" %}{% endblock %}

{% block body %}
	{{ block.super }}
	
	<div class="clear"></div>
	
	<form id="record_search_form" class="record_form use_inline_labels" action="{% url record_search %}" method="get" autocomplete="off">
		<fieldset>
			<div class="field text_field">
				{{ record_search_formset.text.label_tag }}
				{{ record_search_formset.text }}
			</div>
			<div class="field tag_field">
				{{ record_search_formset.tags.label_tag }}
				<input class="tags_temp" name="tags" type="text" value="" />
				<select id="id_record_search-tags" name="tags[]" multiple="multiple" class="tags hidden">
					{% for tag in autocomplete_tags %}
						{% if tag.name in selected_tags %}
							<option selected="selected" value="{{ tag.name }}">{{ tag.name }}</option>
						{% else %}
							<option value="{{ tag.name }}">{{ tag.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</fieldset>
		
		<div class="actions">
			<div class="actions_right">
				<div class="action">
					<a class="input_button_wrapper" href="{% url record_search %}">
						<span class="input_button_start"></span>
						<span class="input_button_body">
							<span class="icon icon_clear">Clear</span>
						</span>
						<span class="input_button_end"></span>
					</a>
					<div class="input_button_wrapper">
						<div class="input_button_start"></div>
						<div class="input_button_body">
							<div class="icon icon_search"></div>
							<input type="submit" value="Search" class="input_submit" />
						</div>
						<div class="input_button_end"></div>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	{% if records_paginator.object_list %}
		<ul id="user_record_list" class="records">
			{% for record in records_paginator.object_list %}
				{% render_record record %}
			{% endfor %}
		</ul>
	{% endif %}
	
	{% if not has_records %}
		
		<!-- No Enteries at all yet -->
		<div class="records_no_results">
			<p>{% trans "Sorry, but you haven't even created a single life record yet..." %}</p>
		</div>
		
	{% endif %}
	
	{% if has_records and not records_paginator.object_list %}
		
		<!-- No Results -->
		<div class="records_no_results">
			<p>{% trans "Sorry, but nothing like that has ever happened in your life yet." %}</p>
		</div>
		
	{% endif %}
	
	{% if records_paginator.object_list|length == records_per_page %}
		<div class="records_more">
			<div class="action">
				<a href="{% url api-record page='2',emitter_format='.json',tags=selected_tags_printable,text=text %}" class="input_button_wrapper use_record_more">
					<span class="input_button_start"></span>
					<span class="input_button_body">
						<span class="icon icon_record_more">{% trans "More" %}</span>
					</span>
					<span class="input_button_end"></span>
				</a>
			</div>
			<div class="loading"></div>
		</div>
	{% endif %}
{% endblock %}

{% block extra_body %}
	{{ block.super }}
	
	<script type="text/javascript">
		$(document).ready(function() {
			
			//highlight the search matches within the records
			$('#user_record_list li.record .header .text').highlight($('#id_text').val());
			
		});
	</script>
{% endblock %}