{% extends "records/base.html" %}

{% load i18n %}
{% load tag %}

{% block head_title %}{% trans "Records" %}{% endblock %}

{% block body %}
	{{ block.super }}
	
	<div class="clear"></div>
	
	<form id="record_create_form" class="record_form use_inline_labels" action="{% url api-record emitter_format='.json' %}" method="post" enctype="multipart/form-data" autocomplete="off">
		{% csrf_token %}
		<fieldset>
			<div id="id_text_field" class="field">
				{{ formset.text.label_tag }}
				{{ formset.text }}
			</div>
			<div id="id_tags_field" class="field">
				{{ formset.tags.label_tag }}
				<input id="id_tags_temp" name="tags" type="text" value="" />
				<select id="id_tags" name="tags[]" multiple="multiple" class="hidden">
					{% for tag in used_tags %}
						{% if tag in selected_tags %}
							<option selected="selected" value="{{ tag.name }}">{{ tag.name }}</option>
						{% else %}
							<option value="{{ tag.name }}">{{ tag.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</fieldset>
		
		<div class="actions">
			<div class="actions_left">
				<div class="action">
					<div id="record_form_date">
						<div class="form_menu use_form_menu">
							<ul class="menu_headers">
								<li class="menu_header">
									<div class="menu_header_icon icon icon_record_date"></div>
									<span class="menu_header_text">{% now "M d, Y" %}</span>
									<div class="side"></div>
								</li>
							</ul>
							<ul class="menu_items">
								<li class="menu_item_datepicker">
									<div class="menu_item_desc">
										<div class="use_datepicker"></div>
									</div>
									<span class="menu_item_value">1</span>
								</li>
							</ul>
						</div>
						{{ formset.date }}
					</div>
				</div>
				
				<div class="group">
					<div class="action">
						<div id="record_form_time_hour">
							<div class="form_menu use_form_menu">
								<ul class="menu_headers">
									<li class="menu_header">
										<div class="menu_header_icon icon icon_record_time"></div>
										<span class="menu_header_text">{% now "h" %}</span>
										<div class="side"></div>
									</li>
								</ul>
								<ul class="menu_items">
									<li class="menu_item">
										<span class="menu_item_text">01</span>
										<span class="menu_item_value">01</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">02</span>
										<span class="menu_item_value">02</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">03</span>
										<span class="menu_item_value">03</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">04</span>
										<span class="menu_item_value">04</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">05</span>
										<span class="menu_item_value">05</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">06</span>
										<span class="menu_item_value">06</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">07</span>
										<span class="menu_item_value">07</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">08</span>
										<span class="menu_item_value">08</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">09</span>
										<span class="menu_item_value">09</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">10</span>
										<span class="menu_item_value">10</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">11</span>
										<span class="menu_item_value">11</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">12</span>
										<span class="menu_item_value">12</span>
									</li>
								</ul>
							</div>
							{{ formset.hour }}
						</div>
					</div>
					<div class="action">
						<div id="record_form_time_minute">
							<div class="form_menu use_form_menu">
								<ul class="menu_headers">
									<li class="menu_header">
										<span class="menu_header_text">{% now "i" %}</span>
										<div class="side"></div>
									</li>
								</ul>
								<ul class="menu_items">
									<li class="menu_item">
										<span class="menu_item_text">00</span>
										<span class="menu_item_value">00</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">15</span>
										<span class="menu_item_value">15</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">30</span>
										<span class="menu_item_value">30</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">45</span>
										<span class="menu_item_value">45</span>
									</li>
								</ul>
							</div>
							{{ formset.minute }}
						</div>
					</div>
					<div class="action">
						<div id="record_form_time_ampm">
							<div class="form_menu use_form_menu">
								<ul class="menu_headers">
									<li class="menu_header">
										<span class="menu_header_text">{% now "A" %}</span>
										<div class="side"></div>
									</li>
								</ul>
								<ul class="menu_items">
									<li class="menu_item">
										<span class="menu_item_text">AM</span>
										<span class="menu_item_value">AM</span>
									</li>
									<li class="menu_item">
										<span class="menu_item_text">PM</span>
										<span class="menu_item_value">PM</span>
									</li>
								</ul>
							</div>
							{{ formset.ampm }}
						</div>
					</div>
				</div>
				
				<div class="action">
					<div id="record_form_datetime_reset" class="hidden">
						<div class="icon icon_record_datetime_reset use_record_form_datetime_reset">Reset</div>
						{{ formset.datetime_set }}
					</div>
				</div>
			</div>
			
			<div class="actions_right">
				
				<div class="action">
					<div class="form_menu use_form_menu">
						<ul class="menu_headers">
							<li class="menu_header">
								<div class="menu_header_icon icon icon_personal"></div>
								<span class="menu_header_text">Personal</span>
								<div class="side"></div>
							</li>
						</ul>
						<ul class="menu_items">
							<li class="menu_item">
								<span class="menu_item_icon icon icon_personal"></span>
								<span class="menu_item_text">Personal</span>
								<span class="menu_item_desc">Keep this post restricted and only visible to yourself.</span>
								<span class="menu_item_value">1</span>
							</li>
							<li class="menu_item">
								<span class="menu_item_icon icon icon_shared"></span>
								<span class="menu_item_text">Shared</span>
								<span class="menu_item_desc">Let anyone find and read this post. Share your life with the world.</span>
								<span class="menu_item_value">0</span>
							</li>
						</ul>
					</div>
					{{ formset.personal }}
				</div>
				
				<div class="action">
					<div class="input_button_wrapper">
						<div class="input_button_start"></div>
						<div class="input_button_body">
							<div class="icon icon_record_post"></div>
							<input type="submit" id="new_record" name="submit" value="{% if object %}Apply changes{% else %}Post{% endif %}" class="input_submit" />
						</div>
						<div class="input_button_end"></div>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	<ul id="user_record_list" class="records">
		{% for record in records_paginator.object_list %}
			<li id="record_{{ record.id }}" class="record">
				<div class="record_content">
					<div class="date">
						<span class="month">{{ record.created|date:"M" }}</span>
						<span class="day">{{ record.created|date:"d" }}</span>
						<span class="year">{{ record.created|date:"Y" }}</span>
					</div>
					<div class="security">
						{% if record.personal %}
							<div class="icon icon_personal"></div>
						{% else %}
							<div class="icon icon_shared"></div>
						{% endif %}
					</div>
					<div class="header">
						<div class="datetime">{{ record.created }}</div>
						<div class="time">{{ record.created|date:"g:iA" }}</div>
						<div class="time_since use_time_since">{{ record.created|timesince }} ago</div>
						<div class="text">{{ record.text|linebreaksbr }}</div>
					</div>
					<div class="menu use_record_menu">
						<ul class="menu_headers">
							<li class="menu_header"></li>
						</ul>
						<ul class="menu_items">
							<li class="menu_item">
								<a href="{% url record_show record_id=record.id %}"><span class="icon icon_record_view"></span>View</a>
							</li>
							<li class="menu_item">
								<a href="{% url record_edit record_id=record.id %}"><span class="icon icon_record_edit"></span>Edit</a>
							</li>
							<li class="menu_item">
								<a class="use_record_delete" href="{% url api-record record_id=record.id,emitter_format='.json' %}"><span class="icon icon_record_delete"></span>Delete...</a>
							</li>
						</ul>
					</div>
					<div class="add_tag">
						<div class="icon icon_tag_add use_add_tag"></div>
					</div>
					<div class="footer">
						{% if record.tags %}
							<ul class="tags">
								{% for tag in record.tags %}
									{% url api-tag tag_name=tag.name,record_id=record.id,emitter_format='.json' as tag_close_url %}
									{% render_tag tag tag_close_url "use_tag_delete" %}
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
	
	{% if records_paginator.object_list|length == records_per_page %}
		<div class="records_more">
			<div class="action">
				<a href="{% url api-record page='2',emitter_format='.json' %}" class="input_button_wrapper use_record_more">
					<span class="input_button_start"></span>
					<span class="input_button_body">
						<span class="icon icon_record_more">More</span>
					</span>
					<span class="input_button_end"></span>
				</a>
			</div>
			<div class="loading"></div>
		</div>
	{% endif %}
{% endblock %}