{% extends "records/base.html" %}

{% load i18n %}
{% load tag %}
{% load record %}

{% block head_title %}{% trans "Records" %}{% endblock %}

{% block body %}
	{{ block.super }}
	
	<div class="clear"></div>
	
	{% if next_suggestion %}
		<div class="suggestion_container">
			<div class="suggestion_content">
				<p class="text icon icon_suggestion">{{ next_suggestion.text }}</p>
				<div class="actions">
					<ul class="grouped_actions">
						<li>
							<a title="Skip Suggestion" data-completed='0' data-viewed='1' href="{% url api-suggestion emitter_format='.json' suggestion_id=next_suggestion.id get_next_suggestion=1 %}" class="icon icon_suggestion_skip use_tipsy use_suggestion_update"></a>
						</li>
					</ul>
					<ul class="grouped_actions">
						<li>
							<a title="Add Suggested Tags" href="#" class="icon icon_suggestion_add_suggested_tags use_tipsy"></a>
						</li>
						<li class="divider"></li>
						<li>
							<a title="Mark as Completed" data-completed='1' data-viewed='1' href="{% url api-suggestion emitter_format='.json' suggestion_id=next_suggestion.id get_next_suggestion=1 %}" class="icon icon_suggestion_completed use_tipsy use_suggestion_update"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	{% endif %}
	
	<div id="record_create_form_container">
		<form id="record_create_form" class="record_form use_inline_labels" action="{% url api-record emitter_format='.json' %}" method="post" enctype="multipart/form-data" autocomplete="off">
			{% csrf_token %}
			<fieldset>
				<div class="field text_field">
					{{ record_create_formset.text.label_tag }}
					{{ record_create_formset.text }}
				</div>
				<div class="field tag_field">
					{{ record_create_formset.tags.label_tag }}
					<input class="tags_temp" name="record_create-tags" type="text" value="" />
					<select id="id_record_create-tags" name="record_create-tags[]" multiple="multiple" class="tags hidden">
						{% for tag in autocomplete_tags %}
							{% if tag in selected_tags %}
								<option selected="selected" value="{{ tag.name }}">{{ tag.name }}</option>
							{% else %}
								<option value="{{ tag.name }}">{{ tag.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</fieldset>
			
			<div class="actions">
				<div class="actions_left">
					<div class="action">
						<div class="record_form_date">
							<div class="menu_large use_form_menu">
								<ul class="menu_headers">
									<li class="menu_header">
										<div class="menu_header_icon icon icon_record_date"></div>
										<div class="menu_header_text">{% now "M d, Y" %}</div>
										<div class="side"></div>
									</li>
								</ul>
								<ul class="menu_items">
									<li class="menu_item_datepicker">
										<div class="menu_item_desc">
											<div class="use_datepicker"></div>
										</div>
										<span class="menu_item_value">1</span>
									</li>
								</ul>
							</div>
							{{ record_create_formset.date }}
						</div>
					</div>
					
					<div class="group">
						<div class="action">
							<div class="record_form_time_hour">
								<div class="menu_large use_form_menu">
									<ul class="menu_headers">
										<li class="menu_header">
											<div class="menu_header_icon icon icon_record_time"></div>
											<div class="menu_header_text">{% now "h" %}</div>
											<div class="side"></div>
										</li>
									</ul>
									<ul class="menu_items">
										<li class="menu_item">
											<span class="menu_item_text">01</span>
											<span class="menu_item_value">01</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">02</span>
											<span class="menu_item_value">02</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">03</span>
											<span class="menu_item_value">03</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">04</span>
											<span class="menu_item_value">04</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">05</span>
											<span class="menu_item_value">05</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">06</span>
											<span class="menu_item_value">06</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">07</span>
											<span class="menu_item_value">07</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">08</span>
											<span class="menu_item_value">08</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">09</span>
											<span class="menu_item_value">09</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">10</span>
											<span class="menu_item_value">10</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">11</span>
											<span class="menu_item_value">11</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">12</span>
											<span class="menu_item_value">12</span>
										</li>
									</ul>
								</div>
								{{ record_create_formset.hour }}
							</div>
						</div>
						<div class="action">
							<div class="record_form_time_minute">
								<div class="menu_large use_form_menu">
									<ul class="menu_headers">
										<li class="menu_header">
											<div class="menu_header_text">{% now "i" %}</div>
											<div class="side"></div>
										</li>
									</ul>
									<ul class="menu_items">
										<li class="menu_item">
											<span class="menu_item_text">00</span>
											<span class="menu_item_value">00</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">15</span>
											<span class="menu_item_value">15</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">30</span>
											<span class="menu_item_value">30</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">45</span>
											<span class="menu_item_value">45</span>
										</li>
									</ul>
								</div>
								{{ record_create_formset.minute }}
							</div>
						</div>
						<div class="action">
							<div class="record_form_time_ampm">
								<div class="menu_large use_form_menu">
									<ul class="menu_headers">
										<li class="menu_header">
											<div class="menu_header_text">{% now "A" %}</div>
											<div class="side"></div>
										</li>
									</ul>
									<ul class="menu_items">
										<li class="menu_item">
											<span class="menu_item_text">AM</span>
											<span class="menu_item_value">AM</span>
										</li>
										<li class="menu_item">
											<span class="menu_item_text">PM</span>
											<span class="menu_item_value">PM</span>
										</li>
									</ul>
								</div>
								{{ record_create_formset.ampm }}
							</div>
						</div>
					</div>
					
					<div class="action">
						<div class="record_form_datetime_reset hidden">
							<div class="icon icon_record_datetime_reset use_record_form_datetime_reset">{% trans "Reset" %}</div>
							{{ record_create_formset.datetime_set }}
						</div>
					</div>
				</div>
				
				<div class="actions_right">
					
					<div class="action">
						<div class="loading_container"><div class="loading"></div></div>
					</div>
					<div class="action">
						<div class="menu_large use_form_menu security_dropdown">
							<ul class="menu_headers">
								<li class="menu_header">
									<div class="menu_header_icon icon icon_personal"></div>
									<div class="menu_header_text">{% trans "Personal" %}</div>
									<div class="side"></div>
								</li>
							</ul>
							<ul class="menu_items">
								<li class="menu_item">
									<span class="menu_item_icon icon icon_personal"></span>
									<span class="menu_item_text">{% trans "Personal" %}</span>
									<span class="menu_item_desc">{% trans "Keep this post restricted and only visible to yourself." %}</span>
									<span class="menu_item_value">1</span>
								</li>
								<li class="menu_item">
									<span class="menu_item_icon icon icon_shared"></span>
									<span class="menu_item_text">{% trans "Shared" %}</span>
									<span class="menu_item_desc">{% trans "Let anyone find and read this post. Share your life with the world." %}</span>
									<span class="menu_item_value">0</span>
								</li>
							</ul>
						</div>
						{{ record_create_formset.personal }}
					</div>
					
					<div class="action">
						<div class="input_button_wrapper">
							<div class="input_button_start"></div>
							<div class="input_button_body">
								<div class="icon icon_record_post"></div>
								<input type="submit" name="submit" value="{% trans 'Save' %}" class="input_submit" />
							</div>
							<div class="input_button_end"></div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<ul id="user_record_list" class="records">
		{% for record in records_paginator.object_list %}
			{% render_record record %}
		{% endfor %}
	</ul>
	
	{% if not records_paginator.object_list %}
		<div id="instruction-no_records" class="message_box very_happy">
			<div class="border">
				<div class="content">
					<span class="title">Awesome. Now you can start recording your life!</span>
					<span class="sub">It's so easy too. Just type in what you want to record above and then add your tags. You can also set the date if you want to record something that happened in the past. If you want, you can make any record <strong>Shared</strong> so that your friends can see them too. If it's <strong>Personal</strong>, you're the only person that will see it. Have fun!</span>
				</div>
			</div>
		</div>
	{% endif %}
	
	{% if records_paginator.object_list|length == records_per_page %}
		<div class="records_more">
			<div class="action">
				<a href="{% url api-record page='2',emitter_format='.json' %}" class="input_button_wrapper use_record_more">
					<span class="input_button_start"></span>
					<span class="input_button_body">
						<span class="icon icon_record_more">{% trans "More" %}</span>
					</span>
					<span class="input_button_end"></span>
				</a>
			</div>
			<div class="loading_more"></div>
		</div>
	{% endif %}
{% endblock %}