{% extends "records/base.html" %}

{% load i18n %}
{% load record %}

{% block head_title %}{% if object %}{% trans "Edit Record" %}{% else %}{% trans "Records" %}{% endif %}{% endblock %}

{% block body %}
	{{ block.super }}
	
	<ul id="user_record_list" class="records">
		{% for record in records_paginator.object_list %}
			{% render_record record %}
		{% endfor %}
	</ul>
	
	<div class="records_more">
			<div class="action">
				<a href="{% url api-record page='2',emitter_format='.json',user_id=viewed_user.id %}" class="input_button_wrapper use_record_more">
					<span class="input_button_start"></span>
					<span class="input_button_body">
						<span class="icon icon_record_more">{% trans "More" %}</span>
					</span>
					<span class="input_button_end"></span>
				</a>
			</div>
			<div class="loading"></div>
		</div>
{% endblock %}