{% load i18n %}

<!-- Blank Tag -->
<div id="tags_blank">
	<ul class="tags">
		<li class="tag"><a class="tag_text" href="{% url record_search tags='' %}"></a> <a href="{% url api-tag tag_name=0,record_id=0,emitter_format='.json' %}" class="closebutton use_tag_delete"></a></li>
	</ul>
</div>

<!-- Blank Tag No Delete-->
<div id="tags_no_delete_blank">
	<ul class="tags">
		<li class="tag"><a class="tag_text" href="{% url record_search tags='' %}"></a></li>
	</ul>
</div>

<!-- Blank Popular Tag -->
<div id="popular_tags_blank">
	<ul class="tags_chart">
		<li class="popular_tag">
			<div class="label">
				<ul class="tags">
					<li class="tag"></li>
				</ul>
			</div>
			<div class="content">
				<span class="value" style="width: 0%;">0</span>
			</div>
		</li>
	</ul>
</div>

<!-- Record Delete Confirmation -->
<div id="record_delete_confirmation">
	<div class="popup">
		<div class="popup_close"></div>
		<div class="actions">
			<a class="input_button_wrapper delete_action">
				<span class="input_button_start"></span>
				<span class="input_button_body">
					<span class="icon icon_record_delete">{% trans "Delete" %}</span>
				</span>
				<span class="input_button_end"></span>
			</a>
			
			<a class="input_button_wrapper cancel_action">
				<span class="input_button_start"></span>
				<span class="input_button_body">
					<span class="icon icon_cancel">{% trans "Cancel" %}</span>
				</span>
				<span class="input_button_end"></span>
			</a>
		</div>
		
		<div class="contents">
			<h5>{% trans "Are you sure? This cannot be undone." %}</h5>
		</div>
	</div>
</div>

<!-- Tag Delete Confirmation -->
<div id="tag_all_delete_confirmation">
	<div class="popup">
		<div class="popup_close"></div>
		<div class="actions">
			<a class="input_button_wrapper delete_action">
				<span class="input_button_start"></span>
				<span class="input_button_body">
					<span class="icon icon_tag_delete">{% trans "Delete" %}</span>
				</span>
				<span class="input_button_end"></span>
			</a>
			
			<a class="input_button_wrapper cancel_action">
				<span class="input_button_start"></span>
				<span class="input_button_body">
					<span class="icon icon_cancel">{% trans "Cancel" %}</span>
				</span>
				<span class="input_button_end"></span>
			</a>
		</div>
		
		<div class="contents">
			<h5>{% trans "Are you sure? This cannon be undone." %}</h5>
		</div>
	</div>
</div>

<!-- Tag Edit -->
<div id="tag_edit_form">
	<div class="popup">
		<div class="popup_close"></div>
		<form action="" method="put">
			{% csrf_token %}
			<div class="actions">
				<div class="input_button_wrapper edit_action">
					<div class="input_button_start"></div>
					<div class="input_button_body">
						<div class="icon icon_record_save"></div>
						<input type="submit" name="submit" value="{% trans "Save" %}" class="input_submit" />
					</div>
					<div class="input_button_end"></div>
				</div>
				
				<a class="input_button_wrapper cancel_action">
					<span class="input_button_start"></span>
					<span class="input_button_body">
						<span class="icon icon_cancel">{% trans "Cancel" %}</span>
					</span>
					<span class="input_button_end"></span>
				</a>
			</div>
			
			<div class="contents">
				<input name="name" class="tag" type="text" value="" />
			</div>
		</form>
	</div>
</div>