{% load i18n %}
{% load compressed %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Synapsie : {% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}</title>
		
		{% include 'includes/ie_redirect.html' %}
		
		{% compressed_css 'app' %}
		
		{% block extra_head_base %}
			{% block extra_head %}{% endblock %}
		{% endblock %}
	</head>
	
	<body class="{% block body_class %}{% endblock %}">
		
		{% include 'includes/announcement.html' %}
		
		<div id="site_container">
			
			<div class="container_12">
				
				<div id="site_header">
					<div id="tabhead">
						<div class="grid_2">
							<div id="logo" dir="ltr">
								<a class="logo_link" href="{% url home %}"></a>
							</div>
						</div>
						<div class="grid_10">
							<div class="grid_10 alpha omega">
								<div id="identity">
									{% include 'includes/identity.html' %}
								</div>
							</div>
							
							<div class="clear"></div>
							
							<div class="grid_7 alpha">
								<div id="site_tabs" >
									{% include 'includes/site_tabs.html' %}
								</div>
							</div>
							<div class="grid_3 omega">
								<div id="site_search">
									<form class="use_inline_labels" action="{% url record_search %}" method="get">
										<div class="field">
											<div class="icon icon_search"></div>
											<label for="id_site_search">{% trans "Search Your Life..." %}</label>
											<input type="text" id="id_site_search" name="text" value="" />
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div id="subnav" class="clxearfix">{% block subnav_base %}<div class="clearfix">{% block subnav %}&nbsp;{% endblock %}</div>{% endblock %}</div>
					<div id="site_header_footer"></div>
				</div>
				
				<div class="clear"></div>
				
				{% block body_outer %}
				<div id="site_content">
					<div class="grid_9">
						{% include 'includes/messages.html' %}
						
						{% block body %}{% endblock %}
					</div>
					<div class="grid_3">
						{% include 'sidebars/tag_info.html' %}
					</div>
				</div>
				{% endblock %}
				
			</div>
			
		</div>
		
		<div id="site_footer">
			<div class="container_12">
				<div id="site_footer_content">
					<div class="site_footer_top"></div>
					<div class="grid_12">
						{% include 'includes/footer.html' %}
						{% block footer %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		
		<div class="hidden">
			{% include 'includes/containers.html' %}
			{% block containers %}{% endblock %}
		</div>
		
		{% compressed_js 'site' %}
		
		{% block extra_body_base %}
			{% block extra_body %}{% endblock %}
		{% endblock %}
		
		{% include 'includes/google_analytics.html' %}
	</body>
</html>