{% extends "blank.html" %}

{% load i18n %}
{% load compressed %}

{% block extra_head_base %}
	{% compressed_css 'marketing' %}
	
	{% block extra_head %}{% endblock %}
{% endblock %}

{% block logo_link_image %}<a class="logo_link" href="{% url home %}"></a>{% endblock %}
{% block slogan_link_image %}<div class="slogan_link"></div>{% endblock %}

{% block extra_body_base %}
	{% compressed_js 'site' %}
	
	{% block extra_body %}{% endblock %}
	
	<script type="text/javascript">
		
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-19197706-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		
	</script>
{% endblock %}