{% load i18n %}
{% load compressed %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="google-site-verification" content="vBnBl6uWaksSUzAJvlQmgIn3hhh_OZav6mLBeOhzvqA" />
		
		<title>Synapsie : {% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}</title>
		
		{% compressed_css 'marketing' %}
		
		{% block extra_head_base %}
			{% block extra_head %}{% endblock %}
		{% endblock %}
	</head>
	
	<body class="{% block body_class %}{% endblock %}">
		
		{% include 'includes/announcement.html' %}
		
		<div id="site_container">
			
			<div class="container_12">
				
				<div id="site_header">
					<div id="tabhead">
						<div class="grid_12">
							<div id="logo">
								<a class="logo_link" href="{% url home %}"></a>
							</div>
							<div id="slogan">
								<div class="slogan_link"></div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="clear"></div>
				
				<div id="site_content">
					<div class="grid_12">
						{% block body %}{% endblock %}
					</div>
				</div>
				
			</div>
			
		</div>
		
		<div id="site_footer">
			<div class="container_12">
				<div id="site_footer_content">
					<div class="site_footer_top"></div>
					<div class="grid_12">
						{% block footer %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		
		<div class="hidden">
			{% block containers %}{% endblock %}
		</div>
		
		{% compressed_js 'site' %}
		
		{% block extra_body_base %}
			{% block extra_body %}{% endblock %}
		{% endblock %}
		
		{% include 'includes/google_analytics.html' %}
	</body>
</html>