{% extends "marketing.html" %}

{% load i18n %}
{% load compressed %}
{% load tag %}

{% block extra_head_base %}
	{% compressed_css 'marketing' %}
	
	{% block extra_head %}{% endblock %}
{% endblock %}

{% block identity %}
	{% if user.is_authenticated %}
		<span class="user_username">{{ user }}</span> | <a href="#">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="{% url accounts_logout %}">{% trans "Logout" %}</a>
	{% else %}
		<!--login url here-->
	{% endif %}
{% endblock %}

{% block logo_link_image %}<a class="logo_link" href="{% url home %}"></a>{% endblock %}
{% block slogan_link_image %}<div class="slogan_link"></div>{% endblock %}

{% block right_tabs %}
	{% if user.is_authenticated %}
		{% spaceless %}
			<ul class="site_tabs">
				<li id="tab_profile"><a href="{% url accounts_profile %}">{% trans "Profile" %}</a></li>
				<li id="tab_records"><a href="{% url record_index %}">{% trans "Records" %}</a></li>
				<li id="tab_search"><a href="{% url record_search %}">{% trans "Search" %}</a></li>
				<li id="tab_tags"><a href="{% url tag_index %}">{% trans "Tags" %}</a></li>
			</ul>
		{% endspaceless %}
	{% else %}
		{% spaceless %}
			<ul class="site_tabs">
				<li id="tab_home"><a href="{% url home %}">{% trans "Home" %}</a></li>
				<li id="tab_register"><a href="{% url accounts_register %}">{% trans "Register" %}</a></li>
				<li id="tab_login"><a href="{% url accounts_login %}">{% trans "Login" %}</a></li>
			</ul>
		{% endspaceless %}
	{% endif %}
{% endblock %}

{% block containers %}
	<!-- Blank Tag -->
	<div id="tags_blank">
		<ul class="tags">
			<li class="tag"><a class="tag_text" href="{% url record_search tags='' %}"></a> <a href="{% url api-tag tag_name=0,record_id=0,emitter_format='.json' %}" class="closebutton use_tag_delete"></a></li>
		</ul>
	</div>
	
	<!-- Blank Popular Tag -->
	<div id="popular_tags_blank">
		<ul class="tags_chart">
			<li class="popular_tag">
				<div class="label">
					<ul class="tags">
						<li class="tag"></li>
					</ul>
				</div>
				<div class="content">
					<span class="value" style="width: 0%;">0</span>
				</div>
			</li>
		</ul>
	</div>
	
	<!-- Record Delete Confirmation -->
	<div id="record_delete_confirmation">
		<div class="popup">
			<div class="popup_close"></div>
			<div class="actions">
				<a class="input_button_wrapper delete_action">
					<span class="input_button_start"></span>
					<span class="input_button_body">
						<span class="icon icon_record_delete">{% trans "Delete" %}</span>
					</span>
					<span class="input_button_end"></span>
				</a>
				
				<a class="input_button_wrapper cancel_action">
					<span class="input_button_start"></span>
					<span class="input_button_body">
						<span class="icon icon_cancel">{% trans "Cancel" %}</span>
					</span>
					<span class="input_button_end"></span>
				</a>
			</div>
			
			<div class="contents">
				<h5>{% trans "Are you sure? This cannon be undone." %}</h5>
			</div>
		</div>
	</div>
	
	<!-- Tag Delete Confirmation -->
	<div id="tag_all_delete_confirmation">
		<div class="popup">
			<div class="popup_close"></div>
			<div class="actions">
				<a class="input_button_wrapper delete_action">
					<span class="input_button_start"></span>
					<span class="input_button_body">
						<span class="icon icon_tag_delete">{% trans "Delete" %}</span>
					</span>
					<span class="input_button_end"></span>
				</a>
				
				<a class="input_button_wrapper cancel_action">
					<span class="input_button_start"></span>
					<span class="input_button_body">
						<span class="icon icon_cancel">{% trans "Cancel" %}</span>
					</span>
					<span class="input_button_end"></span>
				</a>
			</div>
			
			<div class="contents">
				<h5>{% trans "Are you sure? This cannon be undone." %}</h5>
			</div>
		</div>
	</div>
	
	<!-- Tag Edit -->
	<div id="tag_edit_form">
		<div class="popup">
			<div class="popup_close"></div>
			<form action="" method="put">
				{% csrf_token %}
				<div class="actions">
					<div class="input_button_wrapper edit_action">
						<div class="input_button_start"></div>
						<div class="input_button_body">
							<div class="icon icon_record_save"></div>
							<input type="submit" name="submit" value="{% trans "Save" %}" class="input_submit" />
						</div>
						<div class="input_button_end"></div>
					</div>
					
					<a class="input_button_wrapper cancel_action">
						<span class="input_button_start"></span>
						<span class="input_button_body">
							<span class="icon icon_cancel">{% trans "Cancel" %}</span>
						</span>
						<span class="input_button_end"></span>
					</a>
				</div>
				
				<div class="contents">
					<input name="name" class="tag" type="text" value="" />
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block sidebar %}
	<div id="site_sidebar">
		
		{% if register_formset %}
			<div id="signup_container" class="default_form_container">
				<h1>Sign up for <strong>syn</strong>apsie</h1>
				<h4>it's free, <strong>obviously</strong></h4>
				
				<form action="{% url accounts_register %}" method="post" id="signup_form" class="default_form use_inline_labels">
					{% csrf_token %}
					<fieldset>
						<div class="field">
							<div class="field_combo">
								{{ register_formset.first_name.label_tag }}
								{{ register_formset.first_name }}
							</div>
							<div class="field_combo omega">
								{{ register_formset.last_name.label_tag }}
								{{ register_formset.last_name }}
							</div>
							{{ register_formset.first_name.errors }}
							{{ register_formset.last_name.errors }}
						</div>
						<div class="field">
							{{ register_formset.email.label_tag }}
							{{ register_formset.email }}
							{{ register_formset.email.errors }}
						</div>
						<div class="field">
							{{ register_formset.username.label_tag }}
							{{ register_formset.username }}
							{{ register_formset.username.errors }}
						</div>
						<div class="field">
							<div class="field_combo">
								{{ register_formset.password1.label_tag }}
								{{ register_formset.password1 }}
							</div>
							<div class="field_combo omega">
								{{ register_formset.password2.label_tag }}
								{{ register_formset.password2 }}
							</div>
							{{ register_formset.password1.errors }}
							{{ register_formset.password2.errors }}
						</div>
						<div class="field">
							{{ register_formset.agree.label_tag }}
							{{ register_formset.agree }}
							{{ register_formset.agree.errors }}
						</div>
						<div class="field">
							<p>By clicking "Register", you agree to our <a href="{% url terms %}">Terms of Service</a> and <a href="{% url privacy %}">Privacy Policy</a>.</p>
						</div>
					</fieldset>
					
					<div class="actions">
						<div class="social_share">
							<!-- AddThis Button BEGIN -->
							<div class="addthis_toolbox addthis_default_style">
								<a class="addthis_button_preferred_1"></a>
								<a class="addthis_button_preferred_2"></a>
								<a class="addthis_button_preferred_3"></a>
								<a class="addthis_button_preferred_4"></a>
								<a class="addthis_button_compact"></a>
							</div>
							<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
							<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=synapsie"></script>
							<!-- AddThis Button END -->
						</div>
						<div class="action_right">
							<div class="input_button_wrapper">
								<div class="input_button_start"></div>
								<div class="input_button_body">
									<input type="submit" id="account_register" name="submit" value="{% trans "Register" %}" class="input_submit" />
								</div>
								<div class="input_button_end"></div>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<div class="quote_box">
				<h4 class="quote_icon">What are people saying?</h4>
				<p>The next time my girlfriend asks me when our first kiss was, she'll be happy I use Synapsie.</p>
				<p class="citation">- Chris T., St. John's, NL</p>
				<div class="quote_bg"></div>
			</div>
			
			<div class="quote_box">
				<p>Because my brain has better things to do.</p>
				<p class="citation">- Zach B., Trepassey, NL</p>
				<div class="quote_bg"></div>
			</div>
			
			<div class="message_box twitter">
				<div class="border">
					<a href="http://www.twitter.com/synapsieapp">
						<span class="title">Follow The Progress on Twitter</span>
						<span class="sub">And learn about the new stuff before anyone else</span>
					</a>
				</div>
			</div>
			
		{% endif %}
		
	</div>
{% endblock sidebar %}

{% block footer %}
	<ul class="footer_items">
		<li><a href="{% url home %}">{% trans "Home" %}</a></li>
		<li><a href="{% url about %}">{% trans "About" %}</a></li>
		<li><a href="{% url terms %}">{% trans "Terms" %}</a></li>
		<li><a href="{% url privacy %}">{% trans "Privacy" %}</a></li>
	</ul>
{% endblock %}

{% block extra_body_base %}
	{% compressed_js 'site' %}
	
	{% block extra_body %}{% endblock %}
	
	<script type="text/javascript">
		
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-19197706-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		
	</script>
{% endblock %}