{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Synapsie : {% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}</title>
		
		<!--[if IE]>
		<script type="text/javascript" src="/site_media/media/js/custom/jquery.ie.js" charset="utf-8"></script>
		<![endif]-->
		
		{% block extra_head_base %}
			{% block extra_head %}{% endblock %}
		{% endblock %}
	</head>
	
	<body class="{% block body_class %}{% endblock %}">
		{% if site_wide_announcements %}
			<div id="site_wide_announcements">
				<ul>
					{% for announcement in site_wide_announcements %}
					<li>
						<a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
						<a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		
		<div id="site_container">
			
			<div class="container_12">
				
				<div id="site_header">
					<div id="tabhead">
						<div class="grid_7">
							<div id="logo">{% block logo_link_image %}{% endblock %}</div>
							<div id="slogan">{% block slogan_link_image %}{% endblock %}</div>
						</div>
						<div class="grid_5">
							<div id="login">
								<form class="" action="{% url accounts_login %}" method="post">
									{% csrf_token %}
									<div id="id_username_field" class="field">
										<label for="username">Already have an account?</label>
										<input title="{% trans "Username or Email" %}" type="text" name="username" value="" id="username" />
									</div>
									<div id="id_password_field" class="field">
										<a href="{% url accounts_reset %}">Forgot your password?</a>
										<input title="{% trans "Password" %}" type="password" name="password" value="" autocomplete="off" />
									</div>
									
									<div class="actions">
										<div class="input_button_wrapper">
											<div class="input_button_start"></div>
											<div class="input_button_body">
												<input type="submit" id="account_login" name="submit" value="{% trans "Login" %}" class="input_submit" />
											</div>
											<div class="input_button_end"></div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div id="site_header_footer"></div>
				</div>
				
				<div class="clear"></div>
				
				{% block body_outer %}
				<div id="site_content">
					<div class="grid_7">
						<div id="site_messages">
							{% if messages or session_messages  %}
								<ul class="messages">
									{% for message in messages %}
									<li class="message" id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
									{% endfor %}
									
									{% for message in session_messages %}
									<li class="message" id="session_message_{{ forloop.counter }}">
										<div class="status">{{ message.status }}</div>
										<div class="kind">{{ message.kind }}</div>
										<div class="title">{{ message.title }}</div>
										<div class="text">{{ message.text }}</div>
										<div class="sticky">{{ message.sticky }}</div>
										<a href="#" onclick="$('#session_message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message.text }}
									</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
						
						{% block body %}{% endblock %}
					</div>
					<div class="grid_5">
						{% block sidebar %}{% endblock %}
					</div>
				</div>
				{% endblock %}
				
			</div>
			
		</div>
		
		<div id="site_footer">
			<div class="container_12">
				<div id="site_footer_content">
					<div class="site_footer_top"></div>
					<div class="grid_12">
						{% block footer %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		
		<div class="hidden">
			{% block containers %}{% endblock %}
		</div>
		
		{% block extra_body_base %}
			{% block extra_body %}{% endblock %}
		{% endblock %}
	</body>
</html>