{% load i18n %}
{% load tag %}

<li id="record_{{ record.id }}" class="record">
	<div class="record_content">
		<div class="date">
			<span class="month">{{ record.happened|date:"M" }}</span>
			<span class="day">{{ record.happened|date:"d" }}</span>
			<span class="year">{{ record.happened|date:"Y" }}</span>
		</div>
		<div class="security">
			<div class="personal">{{ record.personal }}</div>
			{% if record.personal %}
				<div class="icon icon_personal"></div>
				<span class="security_text">{% trans "Personal" %}</span>
			{% else %}
				<div class="icon icon_shared"></div>
				<span class="security_text">{% trans "Shared" %}</span>
			{% endif %}
		</div>
		<div class="header">
			<div class="datetime">{{ record.happened|date:"Y-m-d H:i:s" }}</div>
			<div class="time">{{ record.happened|date:"g:iA" }}</div>
			<div class="time_since use_time_since">{{ record.happened|timesince }} ago</div>
			<div class="text">{{ record.text|linebreaksbr }}</div>
		</div>
		<div class="menu use_record_menu">
			<ul class="menu_headers">
				<li class="menu_header"></li>
			</ul>
			<ul class="menu_items">
				<li class="menu_item">
					<a href="{% url record_show record_id=record.id %}"><span class="icon icon_record_view"></span>{% trans "View" %}</a>
				</li>
				<li class="menu_item">
					<a class="use_record_edit" href="{% url api-record record_id=record.id,emitter_format='.json' %}"><span class="icon icon_record_edit"></span>{% trans "Edit" %}</a>
				</li>
				<li class="menu_item">
					<a class="use_record_delete" href="{% url api-record record_id=record.id,emitter_format='.json' %}"><span class="icon icon_record_delete"></span>{% trans "Delete..." %}</a>
				</li>
			</ul>
		</div>
		<div class="add_tags">
			<a href="{% url api-record-add_tags record_id=record.id,emitter_format='.json' %}" class="use_record_add_tags">
				<span class="icon icon_record_add_tags"></span>
				<span class="add_tags_text">{% trans "Add Tags" %}</span>
			</a>
		</div>
		<div class="footer">
			{% if record.tags %}
				<ul class="tags">
					{% for tag in record.tags_iterable %}
						{% url api-tag tag_name=tag.name,record_id=record.id,emitter_format='.json' as tag_close_url %}
						{% render_tag tag tag_close_url "use_tag_delete" %}
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
</li>